{{#if children}}
<a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}"
   href="{{url}}"
   data-collapsible="navPages-{{snakecase name}}"
>
    {{#contains name 'Header category'}}
        {{#replace 'Header category ' name}}
        {{else}}
            {{name}}
        {{/replace}}
    {{else}}
        {{name}}
    {{/contains}}

    <i class="icon navPages-action-moreIcon" aria-hidden="true">
        <svg><use xlink:href="#icon-chevron-down" /></svg>
    </i>
    
</a>
<div class="navPage-subMenu" id="navPages-{{snakecase name}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list">
        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action"
               href="{{url}}"
               aria-label="{{lang 'category.view_all.name' category=name}}"
            >
                {{lang 'category.view_all.name' category=name}}
            </a>
        </li>
        {{#each children}}
            <li class="navPage-subMenu-item">
                {{#if children}}
                    <a class="navPage-subMenu-action navPages-action has-subMenu{{#if is_active}} activePage{{/if}}"
                       href="{{url}}"
                       aria-label="{{name}}"
                    >
                    {{#contains name 'Header category'}}
                        {{#replace 'Header category ' name}}
                        {{else}}
                            {{name}}
                        {{/replace}}
                    {{else}}
                        {{name}}
                    {{/contains}}
                        <span class="collapsible-icon-wrapper"
                            data-collapsible="navPages-{{snakecase name}}"
                            data-collapsible-disabled-breakpoint="medium"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed"
                        >
                            <i class="icon navPages-action-moreIcon" aria-hidden="true">
                                <svg><use xlink:href="#icon-chevron-down" /></svg>
                            </i>
                        </span>
                    </a>
                    <ul class="navPage-childList" id="navPages-{{snakecase name}}">
                        {{#each children}}
                        <li class="navPage-childList-item">
                            <a class="navPage-childList-action navPages-action{{#if is_active}} activePage{{/if}}"
                               href="{{url}}"
                               aria-label="{{name}}"
                            >
                            {{#contains name 'Header category'}}
                                {{#replace 'Header category ' name}}
                                {{else}}
                                    {{name}}
                                {{/replace}}
                            {{else}}
                                {{name}}
                            {{/contains}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}}"
                       href="{{url}}"
                       aria-label="{{name}}"
                    >
                    {{#contains name 'Header category'}}
                        {{#replace 'Header category ' name}}
                        {{else}}
                            {{name}}
                        {{/replace}}
                    {{else}}
                        {{name}}
                    {{/contains}}
                    </a>
                {{/if}}
            </li>
        {{/each}}
        {{#if index "===" 0}}
            <li class="navPage-subMenu-item two_banner_within">
                <div class="category_banner banner_two">
                    <a href="javascript: void(0)">
                        <img src="/content/img/category/banner/30.png" alt="Mask 3.0">
                    </a>
                </div>
                <div class="category_banner banner_two">
                    <a href="javascript: void(0)">
                        <img src="/content/img/category/banner/20.png" alt="Mask 2.0">
                    </a>
                </div>
            </li>
        {{/if}}
        {{#if index "===" 1}}
            <li class="navPage-subMenu-item one_banner_within">
                <div class="category_banner banner_one">
                    <a href="javascript: void(0)">
                        <img src="/content/img/category/banner/vent.png" alt="Vent Mask">
                    </a>
                </div>
            </li>
        {{/if}}
    </ul>
</div>
{{else}}
<a class="navPages-action{{#if is_active}} activePage{{/if}}"
   href="{{url}}"
   aria-label="{{name}}"
>
    {{#contains name 'Header category'}}
        {{#replace 'Header category ' name}}
        {{else}}
            {{name}}
        {{/replace}}
    {{else}}
        {{name}}
    {{/contains}}
</a>
{{/if}}
