#consent-manager,
#consent-manager-update-banner {
    width: 100vw !important;
    right: auto !important;
    max-width: 100vw !important;

    @include breakpoint("medium") {
        width: 100% !important;
    }
}

body {
    padding-bottom: remCalc(48px);
}