.footer {
    padding: 0;
    margin: 0;
    overflow: hidden;

    .container {
        padding: 0;

        [data-section-type="newsletterSubscription"],
        .footer-info,
        .footer-copyright {
            padding: 0 remCalc(20px);
        }

        .footer-copyright {
            padding: remCalc(11px) remCalc(20px);
        }
    }

    .footer_logo {
        padding: 0;
        margin: remCalc(33px) auto 0;
        max-width: remCalc(175px);

        .header-logo {
            padding: 0;
            margin: 0;
            width: 100%;
            height: auto;

            .header-logo__link {
                padding: 0;
                margin: 0;
                width: 100%;
            }
        }
    }

    .footer-info {
        margin: remCalc(33px) auto 0;
    }

    .footer-info-col {
        padding: 0;
        margin: 0;
    }

    .footer-info-heading {
        padding: 0;
        margin: 0;
        letter-spacing: 1px;
        color: stencilColor("color-black");
        font-family: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
    }

    [data-section-type="newsletterSubscription"] {
        padding: 0;
        margin: remCalc(23px) auto 0;
        display: block;

        .footer-info-heading {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0;
            font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
            text-align: center;
        }

        .form {
            padding: 0;
            margin: remCalc(20px) auto 0;
            background-color: transparent;

            .form-field {
                margin: 0;
            }
        }

        .form-prefixPostfix {
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: row;
            flex-wrap: nowrap;
            background-color: transparent;

            .form-input,
            .button {
                border: 1px solid stencilColor("color-black");
                font-size: 12px;
                line-height: 18px;
                padding: remCalc(5px);
                border-radius: 0;
                letter-spacing: 1px;
            }

            .form-input {
                display: block;
                // padding: 0;
                padding-left: remCalc(12px);
                margin: 0;
                width: calc(100% - 72px);
                flex: 0 1 auto;
                color: stencilColor("color-black");
                background-color: transparent;
            }

            .form-input::-webkit-input-placeholder {
                color: stencilColor("color-black");
            }

            .button {
                display: block;
                // padding: 0;
                margin: 0;
                width: remCalc(71px);
                flex: 0 0 71px;
                color: stencilColor("color-white");
                background-color: stencilColor("color-black");
                font-family: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
            }
        }
    }

    .footer-info-list a {
        font-family: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 20px;
        color: stencilColor("color-black");
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    .footer-info-col {

        + .footer-info-col {
            margin: remCalc(19px) auto 0;
        }
    }

    .footer-info-list {
        margin: remCalc(13px) auto 0;
    }

    [data-section-type="storeInfo"] {

        ul {
            list-style: none;
            padding: 0;
            margin: remCalc(13px) auto 0;
            color: stencilColor("color-black");

            li {
                max-width: 60%;
                text-align: start;
                margin: auto;

                span {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 12px;
                    line-height: 30px;
                    letter-spacing: 1px;

                    img {
                        display: block;
                    }

                    &.icon {
                        margin: 0;
                        margin-right: remCalc(8px);
                    }

                    &.label {
                        margin: 0;
                        margin-right: remCalc(6px);
                        min-width: remCalc(40px);
                    }
                }
            }
        }

        span.icon {
            position: relative;

            img {
                position: absolute;
                width: 100%;
                height: auto;
                top: 50%;
                bottom: 0;
                left: 50%;
                right: 0;
                transform: translate(-50%, -50%);
            }
        }
    }

    .footer-copyright {
        padding: remCalc(11px) 0;
        margin: 0;
        color: stencilColor("color-black");

        .powered-by {
            color: stencilColor("color-black");
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .on_left,
        .on_right {
            display: block;
            font-size: 12px;
            line-height: 30px;
            letter-spacing: 1px;
        }

        span,a {
            color: stencilColor("color-black");
            text-transform: uppercase;
        }

        span {

            a {
                + a {

                    &:before {
                        content: '|';
                        padding-right: remCalc(4px);
                    }
                }
            }
        }

        .pc_text {
            display: none;
        }
    }

    .footer_line {
        margin: remCalc(17) auto 0;
        height: remCalc(21px);
        border-bottom: 2px solid stencilColor("color-black");
        position: relative;

        .art_icon {
            @include square(20px);
            position: absolute;
            bottom: remCalc(-4px);
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .socialLinks {
        line-height: 0;
        margin: remCalc(13px) auto 0; 

        .socialLinks-item {
            margin: 0;

            &:not(:last-child) {
                margin-right: remCalc(7px);
            }
        }

        .icon {
            line-height: 0;
            position: relative;

            img {
                position: absolute;
                max-width: 100%;
                display: block;
                top: 50%;
                left: 0;
                right: auto;
                bottom: auto;
                transform: translateY(-50%);
            }
        }
    }

    @include breakpoint(325px) {

        [data-section-type="storeInfo"] {

            ul {

                li {
                    max-width: 50%;
                }
            }
        }
    }

    @include breakpoint("small") {

        .footer-info-col {
            float: left;
            width: 50%;
        }

        [data-section-type="newsletterSubscription"] {
            float: none;
            width: 100%;
            max-width: remCalc(560px);
        }

        [data-section-type="storeInfo"] {

            ul {

                li {
                    margin: 0;
                    max-width: none;
                }
            }
        }

        .footer-copyright {

            .powered-by {
                justify-content: space-between;
            }
        }
    }

    @include breakpoint("medium") {

        .container {
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
    
            [data-section-type="newsletterSubscription"],
            .footer-info,
            .footer-copyright {
                padding: 0 remCalc(100px);
            }

            [data-section-type="newsletterSubscription"] {
                padding: 0;
                order: 1;
            }

            .footer-copyright {
                padding: remCalc(11px) remCalc(100px);
            }
        }

        .footer_logo {
            max-width: remCalc(300px);
        }

        .footer-info-list a {
            font-size: 14px;
            line-height: 30px;
        }

        .footer-info {
            margin: remCalc(50px) 0 0;
        }

        .footer-info-col {
            width: 25%;
            // vertical-align: top;
            float: left;

            + .footer-info-col {
                margin: 0;
            }

            + [data-section-type="storeInfo"] {
                margin: remCalc(53px) 0 0;
            }
        }

        .footer-info-col--small {
            width: 25%;
        }

        [data-section-type="newsletterSubscription"] {
            float: none;
            width: 100%;
            max-width: remCalc(560px);
            margin: remCalc(81px) auto 0;
            display: block;

            .footer-info-heading {
                text-align: center;
                font-size: 30px;
            }

            .form-prefixPostfix {

                .form-input,
                .button {
                    font-size: 16px;
                    line-height: 30px;
                    padding: remCalc(9px);
                }
    
                .form-input {
                    padding-left: remCalc(12px);
                    width: calc(100% - 117px);
                }
    
                .button {
                    width: remCalc(117px);
                    flex: 0 0 117px;
                    height: remCalc(50px);
                }
            }
        }

        [data-section-type="storeInfo"] {

            ul {

                li {
                    margin: 0;
                    max-width: none;
                }
            }
        }

        .footer-copyright {

            .powered-by {
                justify-content: space-between;
            }

            .pc_text {
                display: inline;
            }
        }

        .footer_line {
            margin: remCalc(34px) auto 0;
            height: remCalc(51px);
            border-bottom: 4px solid stencilColor("color-black");
            position: relative;
    
            .art_icon {
                @include square(50px);
                position: absolute;
                bottom: remCalc(-15px);
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .socialLinks {

            .icon {
                @include square(40px);
            }
        }
    }

    @include breakpoint("large") {

        .socialLinks {

            .icon {
                @include square(60px);
            }
        }
    }
}
