.form-input {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    height: auto;
    padding: remCalc(9px) remCalc(30px);
    border: 1px solid stencilColor("color-black");
    border-radius: 0;
    margin: 0;

    &::-webkit-input-placeholder {
        color: #a0a19f;
    }
}

.button {
    font-size: 16px;
    line-height: 30px;
    font-family: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    padding: remCalc(9px) remCalc(18px);
    border: 1px solid stencilColor("button--default-borderColor");
    background-color: transparent;
    color: stencilColor("button--default-color");
    width: auto;
    height: auto;
    min-width: remCalc(50px);
    min-height: remCalc(30px);
    max-width: none;
    max-height: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;

    &:hover {
        border-color: stencilColor("button--default-borderColorHover");
        background-color: stencilColor("button--default-borderColorHover");
        color: stencilColor("button--default-colorHover");
    }

    &:active,
    &:focus {
        border-color: stencilColor("button--default-borderColorActive");
        background-color: stencilColor("button--default-borderColorActive");
        color: stencilColor("button--default-colorActive");
    }

    &.button__default__white {
        border-color: stencilColor("color-white");
        color: stencilColor("color-white");

        &:hover {
            border-color: stencilColor("button--default-borderColorHover");
            background-color: stencilColor("button--default-borderColorHover");
            color: stencilColor("button--default-colorHover");
        }
    
        &:active,
        &:focus {
            border-color: stencilColor("button--default-borderColorActive");
            background-color: stencilColor("button--default-borderColorActive");
            color: stencilColor("button--default-colorActive");
        }
    }

    &.button--primary {
        border-color: stencilColor("button--primary-backgroundColor");
        background-color: stencilColor("button--primary-backgroundColor");
        color: stencilColor("button--primary-color");

        &:hover {
            border-color: stencilColor("button--primary-colorHover");
            background-color: stencilColor("button--primary-backgroundColorHover");
            color: stencilColor("button--primary-colorHover");
        }
    
        &:active {
            border-color: stencilColor("button--primary-colorActive");
            background-color: stencilColor("button--primary-backgroundColorActive");
            color: stencilColor("button--primary-colorActive");
        }

        &.button__primary__white {
            color: stencilColor("color-white");

            &:hover {
                border-color: stencilColor("color-white");
                color: stencilColor("color-white");
            }
        
            &:active {
                border-color: stencilColor("color-white");
                color: stencilColor("color-white");
            }
        }
    }

    &[disabled] {
        background-color: rgba($color: #AAAAAA, $alpha: 1.0);
        border-color: rgba($color: #AAAAAA, $alpha: 1.0);

        &:hover,
        &:active,
        &:visited,
        &:focus {
            background-color: rgba($color: #AAAAAA, $alpha: 0.8);
            border-color: rgba($color: #AAAAAA, $alpha: 0.8);
        }
    }
}

.dropdown-menu-button {
    position: relative;

    .icon {
        float: none;
        margin: 0;
        position: absolute;
        left: auto;
        right: remCalc(30px);
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }
}

#wishlist-dropdown.is-open {
    padding: 0;

    .button {

        &:hover {
            background-color: stencilColor("button--default-borderColorHover");
        }
    }

    @include breakpoint("small") {
        padding: 0;
    }

    @include breakpoint("medium") {
        padding: 0;
    }

    @include breakpoint("large") {
        padding: 0;
    }
}

.form-select--small, .form-select--date {
    background-position: center right remCalc(10px);
}
