.page_type__default {

    .body {
        margin-bottom: remCalc(50px);
    }

    .body .container {
        max-width: none;
        padding: 0;
    }

    // home page builder content
    [data-content-region="home"] {

        // button style - carousel style
        [data-test-id="carousel-cta-button"] {
            border: 1px solid black;
            padding: remCalc(9px) remCalc(9px);
            line-height: 0 !important;
            display: block;
            width: 100%;
            text-align: center;

            // button text container
            > div {
                line-height: 0 !important;

                // button text
                > p {
                    font-size: 16px;
                    line-height: 30px !important;
                    font-weight: bold;
                    letter-spacing: 2px;
                }
            }

            &:hover {
                border-color: #ffe500;
                background-color: #ffe500;
            }
        }

        // button style - normal style
        #buttonLink[role="button"] {
            line-height: 0 !important;
            padding: remCalc(9px) remCalc(9px) !important;
            display: block;
            width: 100%;
            text-align: center;

            // button text
            > span {
                line-height: 30px !important;
                letter-spacing: 2px;
            }
        }

        // button style - hero banner style
        .custom[role="button"][data-test-id="hero-image-button"] {
            border: 1px solid white;
            padding: remCalc(9px) remCalc(9px);
            line-height: 0 !important;
            display: block;
            width: 100%;
            text-align: center;

            // button text container
            > div {
                line-height: 0 !important;

                // button text
                > p {
                    font-size: 16px;
                    line-height: 30px !important;
                    font-weight: bold;
                    letter-spacing: 2px;
                }
            }

            &:hover {
                border-color: #ffe500;
                background-color: #ffe500;
                color: black !important;
            }
        }

        // restrict max width
        [data-layout-name="LayoutNewArrivalsHead"],
        [data-layout-name="LayoutNewArrivalsContent"],
        [data-layout-name="LayoutHowWorks"],
        [data-layout-name="Layout30Vent"],
        [data-layout-name="LayoutVentFiltration"],
        [data-layout-name="LayoutNewsHead"],
        [data-layout-name="LayoutNewsContent"] {
            max-width: remCalc(1366px);
            margin: auto;
            padding: 0 remCalc(100px);
        }

        // hero section
        [data-layout-name="LayoutHero"] {

            // carousel arrow
            .bc-carousel__arrow--left,
            .bc-carousel__arrow--right {
                display: none;
            }

            // carousel indicator
            [data-test-id="carousel-bullets"] {
                display: none;
            }

            // carousel text container
            [data-test-id="carousel-title"],
            [data-test-id="carousel-subtitle"] {
                text-align: right;
                line-height: 0 !important;

                // text
                P {
                    line-height: 56px !important;
                    letter-spacing: 0;
                    font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
                }
            }

            // carousel title
            [data-test-id="carousel-title"] {
                padding-right: remCalc(104px);
            }

            // carousel subtitle
            [data-test-id="carousel-subtitle"] {
                color: white;
                margin-top: 0;
            }

            // carousel button
            [data-test-id="carousel-cta-button"] {
                margin-top: remCalc(219px);
                max-width: remCalc(296px);
                align-self: center;
            }

            // carousel container
            > div > div > div > div {
                margin-bottom: 0;

                // carousel viewport
                > div {

                    // carousel track
                    > div {

                        // carousel item
                        > div {

                            // carousel item container
                            > div {

                                // carousel item img holder (img set on :after)
                                > div {
                                    min-height: remCalc(751px);
                                    padding: remCalc(55px) remCalc(85px);

                                    // carousel content container (title des button)
                                    > div {
                                        width: 100%;
                                        height: 100%;
                                        background-color: transparent;
                                        box-shadow: none;
                                        padding: 0;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-end;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // New Arrivals header section
        [data-layout-name="LayoutNewArrivalsHead"] {
            margin-top: remCalc(100px);
            margin-bottom: remCalc(50px);

            // head text container
            > div > div > div {
                line-height: 0;

                // head text span
                > span {
                    line-height: 30px !important;
                    letter-spacing: 0;
                    font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
                }
            }
        }

        // New Arrivals content section
        [data-layout-name="LayoutNewArrivalsContent"] {
            justify-content: space-between;
            flex-wrap: nowrap;
            column-gap: 30px;

            // item (layout column)
            > div {
                // max-width: none;
                // max-width: remCalc(269px); // IE
                max-width: calc( ( 100% - 30px - 30px - 30px ) / 4 ); // IE
                justify-content: flex-start;

                // img holder
                > div > div > div {
                    height: 0 !important;
                    padding-bottom: 100% !important;

                    // if open link mode, img holder turn to the nex level div
                    > div {
                        height: 0 !important;
                        padding-bottom: 100% !important;
                    }
                }

                // item content (img text)
                > div {

                    // text title
                    &:last-child {
                        margin-top: remCalc(12px);

                        // text container
                        > div {

                            // text
                            span {
                                line-height: 30px !important;
                                letter-spacing: 2px;
                            }
                        }
                    }
                }
            }
        }

        // How Works section
        [data-layout-name="LayoutHowWorks"] {
            margin-top: remCalc(120px);

            // layout column
            > div {
                flex-basis: 25%;
                max-width: 25%;

                // first img column
                &:nth-child(2) {
                    max-width: remCalc(320px);
                    margin-right: remCalc(-15px);
                    justify-content: flex-start;
                    flex-basis: 27%;
                    padding-top: remCalc(85px);

                    // img holder
                    > div > div > div {
                        background-position-x: right !important;
                    }
                }

                // second img column
                &:nth-child(3) {
                    max-width: remCalc(280px);
                    margin-left: remCalc(-15px);
                    justify-content: flex-start;
                    flex-basis: 23%;

                    // img holder
                    > div > div > div {
                        background-position-x: left !important;
                    }
                }

                // article column
                &:last-child {
                    flex-basis: 50%;
                    // max-width: 50%;
                    max-width: remCalc(583px);
                    padding: 0;
                    align-items: center;
                    padding-bottom: remCalc(99px);
                    // padding-left: remCalc(40px);
                    padding-left: remCalc(24px);

                    // sub item
                    > div {

                        // text title
                        &:nth-child(2) {
                            line-height: 0;
                            padding-bottom: remCalc(39px);

                            // text container
                            > div {
                                line-height: 0;

                                // text
                                span {
                                    line-height: 30px !important;
                                    letter-spacing: 0;
                                    font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
                                }
                            }
                        }

                        // text desc
                        &:nth-child(3) {
                            max-width: 100%; // IE

                            // text container
                            > div {

                                // text
                                span {
                                    letter-spacing: 1px;
                                    line-height: 30px !important;
                                }
                            }
                        }

                        // buttons
                        &:nth-child(4),
                        &:nth-child(5) {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            max-width: remCalc(210px);

                            div {
                                width: 100%;
                            }
                        }

                        // button LEARN MORE
                        &:nth-child(4) {
                            right: 50%;
                            margin-right: remCalc(15px);
                        }

                        // button SHOP NOW
                        &:nth-child(5) {
                            left: 50%;
                            margin-left: remCalc(15px);
                        }
                    }
                }
            }
        }

        // 30 Vent section
        [data-layout-name="Layout30Vent"] {
            margin-top: remCalc(105px);

            // text
            [data-test-id="hero-image-title"],
            [data-test-id="hero-image-subtitle"] {
                line-height: 0 !important;
                min-height: auto !important;
            }

            // text title
            [data-test-id="hero-image-title"] {

                p {
                    line-height: 30px !important;
                    letter-spacing: 0;
                }
            }

            // text subtitle
            [data-test-id="hero-image-subtitle"] {
                margin-top: 0;

                p {
                    line-height: 50px !important;
                    letter-spacing: 0;
                    font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
                }
            }

            // button
            [data-test-id="hero-image-button"] {
                margin-top: remCalc(32px);
                max-width: remCalc(326px);
            }

            // layout column
            > div {

                // 30
                &:nth-child(2) {
                    padding-bottom: remCalc(293px);

                    // 3.0 item
                    > div {

                        // banner
                        &:nth-child(2) {

                            // img holder
                            > div > div > div > div {
                                min-height: remCalc(538px);
                                padding: remCalc(50px) remCalc(35px);
                                align-items: flex-end;

                                // banner content container 
                                > div {
                                    width: 100%;
                                }
                            }
                        }

                        // small img
                        &:last-child,
                        &:nth-last-child(2) {
                            position: absolute;
                            bottom: 0;
                            width: 50%;
                        }

                        // last but one
                        &:nth-last-child(2) {
                            left: 0;
                        }

                        // last
                        &:last-child {
                            right: 0;
                        }
                    }
                }

                // vent
                &:last-child {
                    padding-top: remCalc(293px);

                    // vent item
                    > div {
                        
                        // small img
                        &:nth-child(2),
                        &:nth-child(3) {
                            position: absolute;
                            top: 0;
                            width: 50%;
                        }

                        // first
                        &:nth-child(2) {
                            left: 0;
                        }

                        // second
                        &:nth-child(3) {
                            right: 0;
                        }

                        // banner
                        &:last-child {

                            // img holder
                            > div > div > div > div {
                                min-height: remCalc(538px);
                                padding: remCalc(50px) remCalc(35px);
                                align-items: flex-end;

                                // banner content container 
                                > div {
                                    width: 100%;

                                    // banner content items
                                    > div {

                                        // button
                                        &:last-child {
                                            max-width: remCalc(294px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // Vent Filtration section
        [data-layout-name="LayoutVentFiltration"] {
            margin-top: remCalc(100px);

            // layout column
            > div {

                // article column
                &:nth-child(2) {
                    // max-width: remCalc(554px);
                    max-width: remCalc(563px);
                    align-items: center;
                    padding-bottom: remCalc(139px);

                    // sub item
                    > div {

                        // text title
                        &:nth-child(2) {
                            line-height: 0;
                            padding-bottom: remCalc(39px);

                            // text container
                            > div {
                                line-height: 0;

                                // text
                                span {
                                    line-height: 30px !important;
                                    letter-spacing: 0;
                                    font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
                                }
                            }
                        }

                        // text desc
                        &:nth-child(3) {
                            width: 100%; // IE

                            // text container
                            > div {

                                // text
                                span {
                                    letter-spacing: 1px;
                                    line-height: 30px !important;
                                }
                            }
                        }

                        // buttons
                        &:nth-child(4),
                        &:nth-child(5) {
                            position: absolute;
                            bottom: remCalc(40px);
                            width: 100%;
                            max-width: remCalc(210px);

                            div {
                                width: 100%;
                            }
                        }

                        // button LEARN MORE
                        &:nth-child(4) {
                            right: 50%;
                            margin-right: remCalc(15px);
                        }

                        // button SHOP NOW
                        &:nth-child(5) {
                            left: 50%;
                            margin-left: remCalc(15px);
                        }
                    }
                }

                // img column
                &:last-child {
                    max-width: remCalc(558px);
                    padding-left: remCalc(82px);

                    // img holder
                    > div > div > div {
                        background-size: contain !important;
                    }
                }
            }
        }

        // Next Level section
        [data-layout-name="LayoutNextLevel"] {
            margin-top: remCalc(100px);

            // text subtitle
            [data-test-id="hero-image-subtitle"] {
                margin-top: 0;

                p {
                    line-height: 56px !important;
                    letter-spacing: 0;
                    font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
                }
            }

            // button
            [data-test-id="hero-image-button"] {
                margin-top: remCalc(32px);
                max-width: remCalc(214px);
            }

            // layout column
            > div {

                // just img
                &:nth-child(2) {
                    flex-basis: 28%;
                    max-width: 28%;
                }

                // banner
                &:last-child {
                    flex-basis: 72%;
                    max-width: 72%;

                    // img holder
                    > div > div > div > div > div {
                        min-height: remCalc(585px);
                        padding: remCalc(72px) remCalc(26px);
                        align-items: flex-end;

                        // banner content container
                        > div {
                            width: 100%;
                            max-width: remCalc(230px);
                        }
                    }
                }
            }
        }

        // News header section
        [data-layout-name="LayoutNewsHead"] {
            margin-top: remCalc(50px);
            margin-bottom: remCalc(50px);

            // head text container
            > div > div > div {
                line-height: 0;

                // head text span
                > span {
                    line-height: 30px !important;
                    letter-spacing: 0;
                    font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
                }
            }
        }

        // News content section
        [data-layout-name="LayoutNewsContent"] {
            justify-content: center;

            // img column
            > div {

                // first column img
                &:nth-child(2) {
                    max-width: remCalc(177px);
                }

                // middle column img
                &:nth-child(3) {
                    max-width: remCalc(461px);
                    padding-left: remCalc(59px);
                    padding-right: remCalc(59px);
                    flex-basis: 461px;
                }

                // last column img
                &:last-child {
                    max-width: remCalc(169px);
                }
            }
        }

        @media (max-width: $screen-medium) {

            // button style - carousel style
            [data-test-id="carousel-cta-button"] {
                border: 1px solid black;
                padding: remCalc(7px) remCalc(7px);
                line-height: 0 !important;

                // button text container
                > div {
                    line-height: 0 !important;

                    // button text
                    > p {
                        font-size: 12px;
                        line-height: 14px !important;
                        font-weight: bold;
                    }
                }

                &:hover {
                    border-color: #ffe500;
                    background-color: #ffe500;
                }
            }

            // button style - normal style
            #buttonLink[role="button"] {
                line-height: 0 !important;
                padding: remCalc(7px) remCalc(7px) !important;

                // button text
                > span {
                    line-height: 14px !important;
                    font-size: 12px;
                }
            }

            // button style - hero banner style
            .custom[role="button"][data-test-id="hero-image-button"] {
                border: 1px solid white;
                padding: remCalc(7px) remCalc(7px);
                line-height: 0 !important;

                // button text container
                > div {
                    line-height: 0 !important;

                    // button text
                    > p {
                        font-size: 12px;
                        line-height: 14px !important;
                        font-weight: bold;
                    }
                }

                &:hover {
                    border-color: #ffe500;
                    background-color: #ffe500;
                    color: black !important;
                }
            }

            // restrict max width
            [data-layout-name="LayoutNewArrivalsHead"],
            [data-layout-name="LayoutNewArrivalsContent"],
            [data-layout-name="LayoutHowWorks"],
            [data-layout-name="Layout30Vent"],
            [data-layout-name="LayoutVentFiltration"],
            [data-layout-name="LayoutNewsHead"],
            [data-layout-name="LayoutNewsContent"] {
                max-width: 100vw;
                padding: 0 remCalc(20px);
            }

            // hero section
            [data-layout-name="LayoutHero"] {

                // carousel text container
                [data-test-id="carousel-title"],
                [data-test-id="carousel-subtitle"] {
                    text-align: center;
                    line-height: 0 !important;
                    max-width: remCalc(310px);
                    width: remCalc(310px);

                    // text
                    P {
                        line-height: 32px !important;
                        font-size: 28px;
                    }
                }

                // carousel title
                [data-test-id="carousel-title"] {
                    padding-right: 0;
                    text-align: left;
                }

                // carousel subtitle
                [data-test-id="carousel-subtitle"] {
                    color: white;
                    margin-top: 0;
                    text-align: right;
                }

                // carousel button
                [data-test-id="carousel-cta-button"] {
                    margin-top: remCalc(20px);
                    align-self: center;
                    max-width: remCalc(235px);
                }

                // carousel container
                > div > div > div > div {
                    margin-bottom: 0;

                    // carousel viewport
                    > div {

                        // carousel track
                        > div {

                            // carousel item
                            > div {

                                // carousel item container
                                > div {

                                    // carousel item img holder (img set on :after)
                                    > div {
                                        min-height: remCalc(245px);
                                        padding: remCalc(20px) remCalc(30px);

                                        // carousel content container (title des button)
                                        > div {
                                            width: 100%;
                                            height: 100%;
                                            background-color: transparent;
                                            box-shadow: none;
                                            padding: 0;
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: flex-end;
                                            align-items: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // New Arrivals header section
            [data-layout-name="LayoutNewArrivalsHead"] {
                margin-top: remCalc(32px);
                margin-bottom: remCalc(16px);

                // head text container
                > div > div > div {
                    line-height: 0;

                    // head text span
                    > span {
                        line-height: 30px !important;
                    }
                }
            }

            // New Arrivals content section
            [data-layout-name="LayoutNewArrivalsContent"] {
                justify-content: space-between;
                flex-wrap: wrap;
                column-gap: 20px;

                // item (layout column)
                > div {
                    // max-width: none;
                    max-width: calc( ( 100vw - 20px - 20px - 20px ) / 2 ); // IE
                    width: 50%;
                    flex-basis: 50%;

                    // img holder
                    > div > div > div {
                        height: calc( ( 100vw - 20px - 20px - 20px ) / 2 ) !important;

                        // if open link mode, img holder turn to the nex level div
                        > div {
                            height: calc( ( 100vw - 20px - 20px - 20px ) / 2 ) !important;
                        }
                    }

                    // item content (img text)
                    > div {

                        // text title
                        &:last-child {
                            margin-top: 0;
                            margin-bottom: remCalc(6px);

                            // text container
                            > div {

                                // text
                                span {
                                    line-height: 30px !important;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }

            // How Works section
            [data-layout-name="LayoutHowWorks"] {
                margin-top: remCalc(30px);
                justify-content: center;

                // layout column
                > div {
                    flex-basis: 50%;
                    max-width: 50%;

                    // first img column
                    &:nth-child(2) {
                        max-width: 50%;
                        flex-basis: 50%;
                        justify-content: flex-end;
                        margin-right: remCalc(-6px);
                        padding-top: remCalc(48px);

                        // img holder
                        > div > div > div {
                            height: remCalc(138px) !important;
                        }
                    }

                    // second img column
                    &:nth-child(3) {
                        max-width: 45%;
                        flex-basis: 45%;
                        margin-left: remCalc(-6px);
                        justify-content: flex-start;

                        // img holder
                        > div > div > div {
                            height: remCalc(106px) !important;
                        }
                    }

                    // article column
                    &:last-child {
                        flex-basis: 100%;
                        max-width: 100%;
                        padding: 0 remCalc(10px);
                        align-items: center;
                        padding-bottom: remCalc(60px);
                        margin-left: 0;
                        margin-top: remCalc(32px);

                        // sub item
                        > div {

                            // text title
                            &:nth-child(2) {
                                line-height: 0;
                                padding-bottom: remCalc(26px);

                                // text container
                                > div {
                                    line-height: 0;

                                    // text
                                    span {
                                        line-height: 30px !important;
                                    }
                                }
                            }

                            // text desc
                            &:nth-child(3) {
                                max-width: 100%; // IE

                                // text container
                                > div {

                                    // text
                                    span {
                                        letter-spacing: 1px;
                                        line-height: 30px !important;
                                        font-size: 12px !important;
                                    }
                                }
                            }

                            // buttons
                            &:nth-child(4),
                            &:nth-child(5) {
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                max-width: remCalc(130px);

                                div {
                                    width: 100%;
                                }
                            }

                            // button LEARN MORE
                            &:nth-child(4) {
                                right: 50%;
                                margin-right: remCalc(8px);
                            }

                            // button SHOP NOW
                            &:nth-child(5) {
                                left: 50%;
                                margin-left: remCalc(8px);
                            }
                        }
                    }
                }
            }

            // 30 Vent section
            [data-layout-name="Layout30Vent"] {
                margin-top: remCalc(30px);
                padding: 0;

                // text
                [data-test-id="hero-image-title"],
                [data-test-id="hero-image-subtitle"] {
                    line-height: 0 !important;
                    min-height: auto !important;

                    p {
                        width: 100%;
                    }
                }

                // text title
                [data-test-id="hero-image-title"] {

                    p {
                        line-height: 30px !important;
                    }
                }

                // text subtitle
                [data-test-id="hero-image-subtitle"] {
                    margin-top: 0;

                    p {
                        line-height: 32px !important;
                        font-size: 28px !important;
                    }
                }

                // button
                [data-test-id="hero-image-button"] {
                    margin-top: remCalc(23px);
                    max-width: remCalc(210px);
                    text-align: center;
                }

                // layout column
                > div {

                    // 30
                    &:nth-child(2) {
                        padding-bottom: 0;

                        // 3.0 item
                        > div {

                            // banner
                            &:nth-child(2) {

                                // img holder
                                > div > div > div > div {
                                    min-height: remCalc(345px);
                                    padding: remCalc(32px) remCalc(20px);
                                    align-items: flex-end;
                                    text-align: left;

                                    // banner content container 
                                    > div {
                                        width: 100%;
                                        display: block;
                                    }

                                    // BC page builder mobile banner content
                                    &:last-child {
                                        display: none !important;
                                    }
                                }
                            }

                            // small img
                            &:last-child,
                            &:nth-last-child(2) {
                                position: absolute;
                                bottom: 0;
                                width: 50%;
                                display: none;
                            }

                            // last but one
                            &:nth-last-child(2) {
                                left: 0;
                            }

                            // last
                            &:last-child {
                                right: 0;
                            }
                        }
                    }

                    // vent
                    &:last-child {
                        padding-top: 0;

                        // vent item
                        > div {
                            
                            // small img
                            &:nth-child(2),
                            &:nth-child(3) {
                                position: absolute;
                                top: 0;
                                width: 50%;
                                display: none;
                            }

                            // first
                            &:nth-child(2) {
                                left: 0;
                            }

                            // second
                            &:nth-child(3) {
                                right: 0;
                            }

                            // banner
                            &:last-child {

                                // img holder
                                > div > div > div > div {
                                    min-height: remCalc(345px);
                                    padding: remCalc(32px) remCalc(20px);
                                    align-items: flex-end;
                                    text-align: right;

                                    // banner content container 
                                    > div {
                                        width: 100%;
                                        display: block;

                                        // banner content items
                                        > div {

                                            // button
                                            &:last-child {
                                                max-width: remCalc(190px);
                                            }
                                        }

                                        [data-test-id="hero-image-button"] {
                                            margin-left: auto;
                                        }
                                    }
                                    
                                    // BC page builder mobile banner content
                                    &:last-child {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Vent Filtration section
            [data-layout-name="LayoutVentFiltration"] {
                margin-top: remCalc(30px);
                flex-direction: column-reverse;

                // layout column
                > div {
                    flex: 0 0 100%;
                    max-width: 100%;

                    // article column
                    &:nth-child(2) {
                        max-width: 100%;
                        align-items: center;
                        padding-bottom: remCalc(60px);
                        margin-top: remCalc(32px);

                        // sub item
                        > div {

                            // text title
                            &:nth-child(2) {
                                line-height: 0;
                                padding-bottom: remCalc(26px);

                                // text container
                                > div {
                                    line-height: 0;

                                    // text
                                    span {
                                        line-height: 30px !important;
                                    }
                                }
                            }

                            // text desc
                            &:nth-child(3) {
                                width: 100%; // IE

                                // text container
                                > div {

                                    // text
                                    span {
                                        letter-spacing: 1px;
                                        line-height: 30px !important;
                                        font-size: 12px !important;
                                    }
                                }
                            }

                            // buttons
                            &:nth-child(4),
                            &:nth-child(5) {
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                max-width: remCalc(130px);

                                div {
                                    width: 100%;
                                }
                            }

                            // button LEARN MORE
                            &:nth-child(4) {
                                right: 50%;
                                margin-right: remCalc(8px);
                            }

                            // button SHOP NOW
                            &:nth-child(5) {
                                left: 50%;
                                margin-left: remCalc(8px);
                            }
                        }
                    }

                    // img column
                    &:last-child {
                        max-width: 100%;
                        margin-left: 0;
                        padding-left: 0;

                        // img holder
                        > div > div > div {
                            height: remCalc(196px) !important;
                            background-size: contain !important;
                        }
                    }
                }
            }

            // Next Level section
            [data-layout-name="LayoutNextLevel"] {
                margin-top: remCalc(32px);

                // text subtitle
                [data-test-id="hero-image-subtitle"] {
                    margin-top: 0;

                    p {
                        line-height: 32px !important;
                        font-size: 28px !important;
                        width: 100%;
                    }
                }

                // button
                [data-test-id="hero-image-button"] {
                    margin-top: remCalc(23px);
                    max-width: remCalc(135px);
                    text-align: center;
                }

                // layout column
                > div {

                    // just img
                    &:nth-child(2) {
                        flex-basis: 28%;
                        max-width: 28%;
                        display: none;
                    }

                    // banner
                    &:last-child {
                        flex-basis: 100%;
                        max-width: 100%;

                        // img holder
                        > div > div > div > div > div {
                            min-height: remCalc(360px);
                            padding: remCalc(50px) remCalc(20px);
                            align-items: flex-end;
                            text-align: left;

                            // banner content container
                            > div {
                                width: 100%;
                                max-width: remCalc(228px);
                                display: block;
                            }

                            // BC page builder mobile banner content
                            &:last-child {
                                display: none !important;
                            }
                        }
                    }
                }
            }

            // News header section
            [data-layout-name="LayoutNewsHead"] {
                margin-top: remCalc(16px);
                margin-bottom: remCalc(16px);

                // head text container
                > div > div > div {
                    line-height: 0;

                    // head text span
                    > span {
                        line-height: 30px !important;
                    }
                }
            }

            // News content section
            [data-layout-name="LayoutNewsContent"] {
                justify-content: center;
                flex-wrap: nowrap;

                // img column
                > div {

                    // first column img
                    &:nth-child(2) {
                        max-width: remCalc(75px);
                    }

                    // middle column img
                    &:nth-child(3) {
                        max-width: remCalc(195px);
                        padding-left: remCalc(25px);
                        padding-right: remCalc(25px);
                        flex-basis: 58%;
                    }

                    // last column img
                    &:last-child {
                        max-width: remCalc(70px);
                    }

                    // img holder
                    > div > div > div {
                        height: remCalc(20px) !important;
                        background-size: contain !important;
                    }
                }
            }
        }
    }
}
