.navPages {
    background-color: transparent;
    padding: 0;
    height: auto;
    padding-bottom: remCalc(10px);

    .navPages-list + .navPages-list {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }

    .navPages-list {
        background-color: stencilColor("color-white");

        .navPages-item {
            padding: remCalc(10px) remCalc(18px);
            border-top: 1px solid #CCCCCC;

            .navPages-action {
                font-size: 12px;
                line-height: 30px;
                font-weight: bold;
                padding: 0;
                letter-spacing: 1px;
            }
        }

        &:first-child {

            .navPages-item {

                &:first-child {
                    border-color: #EBEBEB;
                }
            }
        }
    }

    .navPages-list--user {

        .navPages-item {

            &:last-child {
                
                .navPages-action {
    
                    font-weight: normal;
                }
            }
        }
    }

    .navPage-subMenu-action {

        .collapsible-icon-wrapper {
            width: 20%;
            max-width: remCalc(50px);
            padding: remCalc(10px) 0;
        }
    }

    .navPage-childList,
    .navPage-subMenu-list {
        border: none;
        margin: 0;
        padding-left: remCalc(20px);
    }

    .navPage-subMenu-action:not(.navPages-action-depth-max) + .navPage-childList {
        margin: 0;
    }

    @include breakpoint("medium") {
        text-align: start;
        padding-bottom: 0;
        
        .navPages-list {
            text-align: center;

            // normal category action item style
            .navPages-item {
                padding: remCalc(2px) remCalc(15px);
                border: none;

                .navPages-action {
                    font-size: 12px;
                    line-height: 30px;
                    font-weight: normal;
                    padding: 0;
                    letter-spacing: 1px;
                }

                &:first-child {
                    padding-left: 0;
                }
            }

            // top level category action item style
            > .navPages-item {
                padding-bottom: remCalc(1px);
    
                > .navPages-action {
                    border-bottom: 1px solid transparent;
    
                    &.is-open {
                        // border-color: stencilColor("color-black");
                        border-color: transparent;
                    }
                }
            }

            // second level category action item style
            .navPage-subMenu-list {

                .navPage-subMenu-item {
                    padding: remCalc(2px) remCalc(15px) remCalc(1px);
            
                    .navPages-action {
                        font-size: 14px;
                        line-height: 30px;
                        font-weight: bold;
                        padding: 0;
                    }
                }
            }

            // after second level action item style
            .navPage-childList {
                padding-left: 0;

                .navPage-childList-item {
                    padding: remCalc(2px) 0;

                    .navPages-action {
                        font-size: 14px;
                        line-height: 30px;
                        font-weight: normal;
                        padding: 0;
                    }
                }
            }
        }

        .navPage-subMenu-list {
            margin: initial;
            padding: remCalc(40px) remCalc(150px);
            background-color: stencilColor("color-white");
            max-width: none;
        }

        .navPages-action-moreIcon {
            display: none;
        }
    }
}

.navPage-subMenu {

    .navPage-subMenu-list {

        .navPage-subMenu-item {

            &:first-child {
                display: none; // hide the All Category access
            }
        }
    }
}

.navPage-subMenu {

    @include breakpoint("medium") {
        background-color: transparent;
        // padding: remCalc(40px) remCalc(150px);
        padding: 0;

        &.is-open {
            top: 100%; // position submenu right below header
            margin-top: 1px;
            // background-color: stencilColor("color-white");
            background-color: rgba($color: #000000, $alpha: 0.7);
            // height: 100vh;
        }
    }
}

.navPages-action {

    @include breakpoint("medium") {

        &.is-open {
            background-color: transparent;
        }
    }
}

.navPages-list:not(.navPages-list-depth-max) {

    @include breakpoint("medium") {

        .navPages-action.has-subMenu + .navPage-subMenu .navPage-subMenu-list {
            margin-right: initial;
        }
    }
}

.navPage-subMenu-item {

    @include breakpoint("medium") {

        > .navPage-subMenu-action {
            border-color: transparent;
            margin-bottom: initial;
        }
    }
}

.banner_two {
    margin-top: remCalc(18px);

    + .banner_two {
        margin-top: remCalc(18px);
    }

    img {
        display: block;
        max-width: none;
        width: remCalc(268px);
        height: remCalc(93px);
    }

    @include breakpoint("medium") {
        margin-top: 0;
    }
}

.banner_one {

    img {
        max-width: 100%;
        height: auto;
    }

    @include breakpoint(1025px) {

        img {
            display: block;
            max-width: none;
            width: remCalc(534px);
            height: remCalc(118px);
        }
    }
}

.navPage-subMenu-item {

    @include breakpoint("medium") {

        &:last-child {
            float: right;
        }

        &.one_banner_within {
            width: auto;
            max-width: 50%;
            padding: 0 !important;
        }

        &.two_banner_within {
            width: auto;
            max-width: 25%;
            padding: 0 !important;
        }
    }
}


// prevent menu shut on gap area

.navPages-action.has-subMenu.is-open {
    position: relative;

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: remCalc(20px);
        background-color: transparent;
        position: absolute;
        bottom: remCalc(-19px);
        left: 0;
        right: 0;
        top: auto;
    }
}

// hover animation on menu

.navPages-item > .navPages-action.has-subMenu {
    position: relative;

    &:before {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        background-color: stencilColor("color-black");
        transition: .2s;
    }

    @media (any-hover: hover) {

        &:hover {
    
            &:before {
                width: 100%;
            }
        }
    }
}
