.navUser {
    position: initial;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    transform: none;

    .navUser-section {

        .navUser-item {

            .navUser-action {
                letter-spacing: 1px;
            }
        }
    }

    .navUser-section--alt {
        float: none;

        .navUser-item--cart {

            &.navUser-item {
                height: auto;
            }
        }
    }

    @include breakpoint("medium") {

        .navUser-section {

            .navUser-item {
                padding: remCalc(2px) remCalc(15px);
                
                &:last-child {
                    padding-right: 0;
                }

                .navUser-action {
                    font-size: 12px;
                    line-height: 30px;
                    font-weight: normal;
                    padding: 0;
                    letter-spacing: 1px;
                }
            }
        }

        .navUser-section--alt {
            float: right;
        }
    }
}

.navUser-action--quickSearch {
    @include square(25px);
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;

    img {
        display: block;
        width: remCalc(12px);
        height: remCalc(11px);
        // margin: remCalc(4px) remCalc(5px);
        margin: -8px remCalc(5px);
    }
}

.navUser-item--account {

    > .navUser-action {
        width: remCalc(22px);
        height: remCalc(25px);
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
    }
}

.navUser-item-cartLabel {
    display: block;
    width: remCalc(29px);
    height: remCalc(25px);
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.navUser .dropdown-menu.is-open:before {
    left: auto;
    right: spacing("half");
}

.navUser .dropdown-menu.is-open:after {
    left: auto;
    right: spacing("half") + remCalc(2px);
}

.navUser .navUser-section .navUser-item {
    height: remCalc(34px);
    
    &.navUser_item__quickSearch,
    &.navUser-item--account,
    &.navUser-item--cart {
        position: relative;
    }

    &.navUser-item--account {

        > .navUser-action {
            display: block;
        }

        .dropdown-menu {
            line-height: 1.5;
            width: 100%;
            min-width: remCalc(150px);
            max-width: remCalc(300px);

            @include breakpoint("medium") {
                top: 100% !important;
                margin-top: remCalc(15px);
                left: auto !important;
                right: 2.5px;
            }
        }
    }

    &.navUser-item--cart {

        .dropdown-menu {
            line-height: 1.5;
            width: 100%;
            min-width: remCalc(300px);
            max-width: remCalc(350px);

            @include breakpoint("medium") {
                top: 100% !important;
                margin-top: remCalc(15px);
                left: auto !important;
                right: remCalc(-10px);
            }
        }
    }
}

.dropdown_menu__account_options {
    padding: remCalc(5px);
    padding-bottom: remCalc(10px);
    margin: 0;
}

.navUser_section__dropdown {

    .navUser-item {
        padding: remCalc(2px) remCalc(15px);
        line-height: 0;
        float: none;

        .navUser-action {
            line-height: 30px;
        }
    }
}

.dropdown--quickSearch {
    // position: fixed;
    position: absolute;
    width: 100%;
    padding: remCalc(50px);
    background-color: stencilColor("color-white");
    margin-top: -1px;

    .form {
        max-width: remCalc(750px);
    }

    .form-field {
        position: relative;
    }

    .form-input {
        border-radius: 25px;
        padding-right: remCalc(60px);
    }

    .icon {
        @include square(25px);

        svg {
            fill: stencilColor("color-black");
        }
    }

    .icon__search {
        position: absolute;
        left: auto;
        right: remCalc(30px);
        top: 50%;
        transform: translateY(-50%);
    }

    .dropdown_button__close {
        display: block;
        width: auto;
        height: auto;
        line-height: 0;
        font-size: 0;
        padding: remCalc(5px) remCalc(10px);
        margin: 0;
        position: absolute;
        left: auto;
        bottom: auto;
        top: remCalc(16px);
        right: remCalc(41px);

        .icon,
        .button_text {
            display: inline-block;
            vertical-align: middle;
        }

        .icon {
            @include square(18px);
            line-height: 0;
        }

        .icon__close {
            height: remCalc(17px);
        }

        .button_text {
            font-size: 12px;
            line-height: 30px;
            font-weight: normal;
            color: stencilColor("color-black");
            text-transform: uppercase;
        }
    }
}

.quickSearchResults {

    .modal-close {
        display: none;
    }
}
