.product_card {
    font-size: 16px;
    line-height: 36px;
    font-family: stencilFontFamily('body-font'), Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    color: stencilColor('color-black');
    text-decoration: initial;
    text-transform: initial;
    padding: 0;
    margin: 0;

    .product_main_image {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-bottom: 100%;

        .product_image_link {
            position: absolute;
            left: 0;
            top: 0;
            bottom: auto;
            right: auto;
            width: 100%;
            max-width: 100%;

            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .product_title,
    .product_option_label,
    .product_price {
        margin: remCalc(3px) 0;
    }

    .product_title {
        font-size: 18px;
        font-weight: bold;
    }

    // product_thumbnail_area
    .product_thumbnail_area {
        font-size: 0;
        line-height: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;

        .product_thumbnail_button {
            @include square(70px);
            padding: 0;

            &.now {
                border: 1px solid #999;
            }
        }

        .prev,
        .next {
            position: relative;
            border: 1px solid #CCC;
            width: calc( 100% / 6 - 5px );
            flex: 0 0 auto;
            height: 0;
            padding-bottom: calc( 100% / 6 - 5px - 2px );
            transition: .3s;

            &:before {
                content: '';
                display: block;
                @include square(15px);
                border: 1px solid stencilColor('color-black');
                border-left: none;
                border-top: none;
                position: absolute;
                left: 50%;
                top: 50%;
                right: auto;
                bottom: auto;
                transform: translate(-75%, -50%) rotateZ(-45deg);
                transform-origin: center;
            }

            &:hover {
                
                &:before {
                    border-width: 2px;
                }
            }

            &.disabled {
                width: 0;
                border-width: 0;
                overflow: hidden;
                pointer-events: none;
            }
        }

        .prev {

            &:before {
                transform: translate(-25%, -50%) rotateZ(135deg);
            }
        }

        .product_thumbnail_viewport {
            display: block;
            width: calc( 100% - 100% / 6 * 2 );
            padding: 0 remCalc(5px);
            flex: 1 1 auto;
            overflow: hidden;
        }

        .product_thumbnails {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            // column-gap: 5px; // not support in IE, use margin instead
            transition: .5s;
            position: relative; // magins have influence on elements width, use position instead
            left: 0;

            .product_thumbnail_button {
                @include square(70px);
                flex: 0 0 auto;

                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
    }
}