.page_type__product {

    .body {
        max-width: 100%;
        overflow: hidden;
    }

    .container {
        max-width: remCalc(1266px);
        padding: 0 remCalc(20px);
        margin: 0 auto;

        @include breakpoint("large") {
            padding: 0;
        }
    }
}

.product_content {
    padding-top: remCalc(52px);
}

// .productView

.productView {
    margin: 0;

    .productView-images {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .product_images {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    
        .product_image {
            display: block;
            width: 100%;
            flex: 0 0 100%;
            padding-top: remCalc(20px);

            .product_image_container {
                display: block;
                width: 100%;
                max-width: 100%;
                position: relative;
                height: 0;
                padding-bottom: 100%;
                background-color: #f2f2f2;
            }

            img {
                display: block;
                width: 100%;
                max-width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                bottom: auto;
                right: auto;
                transform: translate(-50%, -50%);
            }
        }
    }

    .productView-details {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .productView-details.product-options {
        overflow: initial;
    }

    .productView-product {
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;

        .productView-title {
            font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-style: normal;
            letter-spacing: 0;
            margin: 0;
            padding: 0;
            line-height: 1;
        }

        .productView-price {
            margin: remCalc(5px) 0 0;

            .price-section {
                font-family: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
                font-weight: normal;
                font-style: normal;
                letter-spacing: 0;
                margin: 0;
                padding: 0;
                line-height: 30px;
            }
        }
    }

    .productView-options {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: left;

        [data-product-option-change] {

            .form-option {
                margin: 0;
                margin-right: remCalc(16px);
                margin-top: remCalc(8px);
            }

            [data-product-attribute="swatch"] {

                .form-option {
                    border-radius: 50%;
                    border: none;
                    padding: remCalc(2px);
                }
            }

            .form-option-variant--color, .form-option-variant--pattern {
                @include square(30px);
                border-radius: 50%;
                border: 1px solid stencilColor("color-black");
            }

            .form-radio:checked + .form-option {
                box-shadow: 0 0 0 1px #B7B7B7;
            }

            [data-product-attribute="set-rectangle"] {
                position: relative;

                .form-option {
                    @include square(40px);
                    border: 1px solid stencilColor('color-black');
                    margin: 0;
                    margin-right: remCalc(8px);
                    margin-top: remCalc(8px);
                }

                .form-option-variant {
                    font-size: 18px;
                    line-height: 36px;
                    padding: remCalc(1px);
                }

                .form-radio:checked + .form-option {
                    box-shadow: none;
                    background-color: stencilColor('color-black');
                    color: stencilColor('color-white');
                }
            }

        }

        .form {
            margin: 0;
            padding: 0;
            display: block;

            .form-field {
                margin: remCalc(35px) 0 0;
                padding: 0;
            }

            .form-label {
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0;

                [data-set-option-label] {
                    font-weight: normal;
                    text-transform: capitalize;
                }
            }

            .form-label--alternate {
                font-family: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
                margin: 0;
            }

            .form-increment {
                border: 1px solid #CCCCCC;
                max-width: remCalc(137px);

                .button,
                .form-input {
                    border: none;
                }

                .button {
                    padding: remCalc(4px) 0;
                    margin: 0;
                    height: 100%;
                    min-height: auto;
                    min-width: auto;

                    &:first-child {
                        padding-left: remCalc(25px);
                    }

                    &:last-child {
                        padding-right: remCalc(25px);
                    }

                    &:hover,
                    &:active,
                    &:visited,
                    &:focus {
                        background-color: transparent;
                    }

                    &[disabled] {
                        background-color: transparent;
                    }
                }

                .button--icon {

                    svg {
                        fill: #CCCCCC;
                    }
                }

                .form-input {
                    font-size: 16px;
                    line-height: 30px;
                    padding: remCalc(4px) 0;
                    width: calc( 137px - 25px - 25px - 16px - 16px - 1px - 1px ); // container - paddingLeft - paddingRight - button - button - border - border
                }
            }

            .form-action {
                margin: remCalc(46px) 0 0;
                display: block;

                .button {
                    margin: 0;
                    width: 100%;
                }
            }
        }

        .form.form-action {
            margin: remCalc(10px) 0 0;

            .button {
                margin: 0;
                width: 100%;
            }
        }

        .alertBox {
            margin: remCalc(10px) 0 0;
            padding: remCalc(9px) remCalc(18px);
            font-size: 16px;
            line-height: 30px;
            border: 1px solid transparent;
        }
    }

    .accordion {
        margin: remCalc(36px) 0 0;
    }

    @include breakpoint("medium") {
        padding: 0;

        .productView-images {
            width: 66%;
            padding: 0;
        }

        .product_images {
            margin: 0;
        
            .product_image {
                width: 50%;
                flex: 0 0 50%;

                &:first-child,
                &:nth-child(2) {
                    padding-top: 0;
                }

                &:nth-child(2n) {
                    padding-left: remCalc(10px);
                }

                &:nth-child(2n-1) {
                    padding-right: remCalc(10px);
                }
            }
        }

        .productView-details {
            width: 33%;
            padding: 0;
            padding-left: remCalc(50px);
        }

        .productView-product {

            .productView-title {
                font-size: 36px;
            }

            .productView-price {
                font-size: 18px;
            }
        }
    }
}


// product option modal

.product_option_modal {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 2px;
    // position: relative;

    .modal_trigger {
        display: block;
        font-size: 16px;
        // line-height: 30px;
        font-weight: normal;
        font-style: normal;
        letter-spacing: 0;
        text-decoration: underline;
        text-transform: capitalize;
        line-height: 1;
    }

    .modal_content {
        // display: block;
        position: absolute;
        left: 50%;
        right: auto;
        top: calc( 100% + 30px );
        bottom: auto;
        transform: translateX(-50%);
        width: 100vw;
        max-width: remCalc(290px);
        box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.23);
        border: 1px solid stencilColor('color-black');
        background-color: stencilColor('color-white');
        z-index: 1;
        display: none;
    }

    .modal_close {
        width: 100%;
        max-width: 100%;
        height: auto;

        .icon {
            display: block;
            @include square(25px);
            margin-left: auto;
            margin-right: 3px;
            margin-top: 3px;
            cursor: pointer;

            svg {
                fill: #CCCCCC;
            }
        }
    }

    .modal_logo {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0 remCalc(33px);
        margin: remCalc(5px) 0 0;
    }

    .modal_title {
        font-size: 16px;
        line-height: 1;
        margin: remCalc(5px) 0 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        height: auto;
        text-align: center;
    }

    .modal_chart {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: remCalc(40px) 0 0;
        padding: 0;

        .chart_row {
            border-top: 1px solid stencilColor('color-black');
            margin: 0;
            padding: 0;
            font-size: 0;

            &:nth-child(odd) {
                background-color: #F2F2F2;
            }
        }

        .chart_cell {
            display: inline-block;
            font-size: 16px;
            line-height: 60px;
            padding: 0 remCalc(30px);
            
            &:first-child {
                border-right: 1px solid stencilColor('color-black');
                font-weight: bold;
                width: 45%;
                text-transform: uppercase;
            }

            &:last-child {
                width: 55%;
                text-transform: lowercase;
            }
        }
    }

    @include breakpoint("large") {

        .modal_content {
            left: auto;
            right: remCalc(30px);
            top: calc( 100% + 30px );
            bottom: auto;
            transform: none;
        }
    }
}


// page builder content

[data-content-region="product_below_content"] {

    [data-layout-name="LayoutLeftText"] {
        margin-top: 100px;

        // layout column
        > div {

            // text column
            &:nth-child(2) {
                padding: remCalc(50px) remCalc(140px);
                justify-content: center !important;

                // text component
                > div {
                    
                    // text container
                    > div {
                        text-align: left !important;
                    }

                    // content style
                    span {
                        font-size: 16px !important;
                        line-height: 30px !important;
                        font-family: stencilFontFamily('body-font'), Arial, Helvetica, sans-serif !important;
                        font-weight: normal !important;
                        font-style: normal !important;
                        letter-spacing: 0;
                    }

                    // title
                    &:nth-child(2) {

                        span {
                            font-size: 16px !important;
                            line-height: 30px !important;
                            font-family: stencilFontFamily('body-font'), Arial, Helvetica, sans-serif !important;
                            font-weight: bold !important;
                            font-style: normal !important;
                            letter-spacing: 1px;
                        }
                    }

                    // sub-title
                    &:nth-child(3) {
                        margin: remCalc(10px) 0 remCalc(20px);

                        span {
                            font-size: 36px !important;
                            line-height: 1 !important;
                            font-family: stencilFontFamily('headings-font'), Arial, Helvetica, sans-serif !important;
                            font-weight: bold !important;
                            font-style: normal !important;
                            letter-spacing: 0;
                        }
                    }
                }
            }

            // img column
            &:last-child {

            }
        }
    }

    [data-layout-name="LayoutRightText"] {
        margin-top: 100px;

        // layout column
        > div {

            // img column
            &:nth-child(2) {

            }

            // text column
            &:last-child {
                padding: remCalc(50px) remCalc(140px);
                justify-content: center !important;

                // text component
                > div {

                    // text container
                    > div {
                        text-align: left !important;
                    }

                    // content style
                    span {
                        font-size: 16px !important;
                        line-height: 30px !important;
                        font-family: stencilFontFamily('body-font'), Arial, Helvetica, sans-serif !important;
                        font-weight: normal !important;
                        font-style: normal !important;
                        letter-spacing: 0;
                    }

                    // title
                    &:nth-child(2) {

                        span {
                            font-size: 16px !important;
                            line-height: 30px !important;
                            font-family: stencilFontFamily('body-font'), Arial, Helvetica, sans-serif !important;
                            font-weight: bold !important;
                            font-style: normal !important;
                            letter-spacing: 1px;
                        }
                    }

                    // sub-title
                    &:nth-child(3) {
                        margin: remCalc(10px) 0 remCalc(20px);

                        span {
                            font-size: 36px !important;
                            line-height: 1 !important;
                            font-family: stencilFontFamily('headings-font'), Arial, Helvetica, sans-serif !important;
                            font-weight: bold !important;
                            font-style: normal !important;
                            letter-spacing: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $screen-large) {

        [data-layout-name="LayoutLeftText"] {
            margin-top: 50px !important;

            // layout column
            > div {
    
                // text column
                &:nth-child(2) {
                    padding: remCalc(45px) remCalc(20px) !important;
                }
    
                // img column
                &:last-child {
                    
                }
            }
        }
    
        [data-layout-name="LayoutRightText"] {
            margin-top: 50px !important;
    
            // layout column
            > div {
    
                // img column
                &:nth-child(2) {
                    
                }
    
                // text column
                &:last-child {
                    padding: remCalc(45px) remCalc(20px) !important;
                }
            }
        }
    }

    @media (max-width: $screen-medium) {

        [data-layout-name="LayoutLeftText"] {
            margin-top: 50px !important;

            // layout column
            > div {
    
                // text column
                &:nth-child(2) {
                    padding: remCalc(45px) remCalc(20px) !important;
    
                    // text component
                    > div {
                        // content style
                        span {
                            font-size: 14px !important;
                            line-height: 28px !important;
                        }
    
                        // title
                        &:nth-child(2) {
    
                            span {
                                font-size: 14px !important;
                                line-height: 28px !important;
                            }
                        }
    
                        // sub-title
                        &:nth-child(3) {
                            margin: remCalc(5px) 0 remCalc(15px);
    
                            span {
                                font-size: 34px !important;
                            }
                        }
                    }
                }
    
                // img column
                &:last-child {
                    
                }
            }
        }
    
        [data-layout-name="LayoutRightText"] {
            margin-top: 50px !important;
    
            // layout column
            > div {
    
                // img column
                &:nth-child(2) {
                    
                }
    
                // text column
                &:last-child {
                    padding: remCalc(45px) remCalc(20px) !important;
    
                    // text component
                    > div {
                        // content style
                        span {
                            font-size: 14px !important;
                            line-height: 28px !important;
                        }
    
                        // title
                        &:nth-child(2) {
    
                            span {
                                font-size: 14px !important;
                                line-height: 28px !important;
                            }
                        }
    
                        // sub-title
                        &:nth-child(3) {
                            margin: remCalc(5px) 0 remCalc(15px);
    
                            span {
                                font-size: 34px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $screen-small) {
        margin: remCalc(50px) 0 !important;

        [data-layout-name="LayoutLeftText"] {
            margin-top: 0 !important;

            // layout column
            > div {
    
                // text column
                &:nth-child(2) {
                    order: 1;
                    padding: remCalc(45px) 0 !important;
                }
    
                // img column
                &:last-child {
                    order: 0;
                }
            }
        }
    
        [data-layout-name="LayoutRightText"] {
            margin-top: 0 !important;
    
            // layout column
            > div {
    
                // img column
                &:nth-child(2) {
                    order: 0;
                }
    
                // text column
                &:last-child {
                    order: 1;
                    padding: remCalc(45px) 0 !important;
                }
            }
        }
    }
}