.page_type__product {

    .container {
        max-width: remCalc(1266px);
        padding: 0 remCalc(20px);
        margin: 0 auto;

        @include breakpoint("medium") {
            padding: 0;
        }
    }
}

.product_content {
    padding-top: remCalc(52px);
}

// .productView

.productView {
    margin: 0;

    .productView-images {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .product_images {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    
        .product_image {
            display: block;
            width: 100%;
            flex: 0 0 100%;
            padding-top: remCalc(20px);

            &:first-child,
            &:nth-child(2) {
                padding-top: 0;
            }

            .product_image_container {
                display: block;
                width: 100%;
                max-width: 100%;
                position: relative;
                height: 0;
                padding-bottom: 100%;
                background-color: #f2f2f2;
            }

            img {
                display: block;
                width: 100%;
                max-width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                bottom: auto;
                right: auto;
                transform: translate(-50%, -50%);
            }
        }
    }

    .productView-details {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .productView-details.product-options {
        overflow: initial;
    }

    .productView-product {
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;

        .productView-title {
            font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-style: normal;
            letter-spacing: 0;
            margin: 0;
            padding: 0;
            line-height: 1;
        }

        .productView-price {
            margin: remCalc(5px) 0 0;

            .price-section {
                font-family: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
                font-weight: normal;
                font-style: normal;
                letter-spacing: 0;
                margin: 0;
                padding: 0;
                line-height: 30px;
            }
        }
    }

    .productView-options {
        width: 100%;
        padding: 0;
        margin: 0;

        .form {
            margin: 0;
            padding: 0;
            display: block;

            .form-field {
                margin: remCalc(35px) 0 0;
                padding: 0;
            }

            .form-label {
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0;
            }

            .form-label--alternate {
                font-family: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
                margin: 0;
            }

            .form-increment {
                border: 1px solid #CCCCCC;
                max-width: remCalc(137px);

                .button,
                .form-input {
                    border: none;
                }

                .button {
                    padding: remCalc(4px) 0;
                    margin: 0;
                    height: 100%;
                    min-height: auto;
                    min-width: auto;

                    &:first-child {
                        padding-left: remCalc(25px);
                    }

                    &:last-child {
                        padding-right: remCalc(25px);
                    }

                    &:hover,
                    &:active {
                        background-color: transparent;
                    }
                }

                .button--icon {

                    svg {
                        fill: #CCCCCC;
                    }
                }

                .form-input {
                    font-size: 16px;
                    line-height: 30px;
                    padding: remCalc(4px) 0;
                    width: calc( 137px - 25px - 25px - 16px - 16px - 1px - 1px ); // container - paddingLeft - paddingRight - button - button - border - border
                }
            }

            .form-action {
                margin: remCalc(46px) 0 0;
                display: block;

                .button {
                    margin: 0;
                    width: 100%;
                }
            }
        }

        .form.form-action {
            margin: remCalc(10px) 0 0;

            .button {
                margin: 0;
                width: 100%;
            }
        }
    }

    @include breakpoint("medium") {
        padding: 0;

        .productView-images {
            width: 66%;
            padding: 0;
        }

        .product_images {
            margin: 0;
        
            .product_image {
                width: 50%;
                flex: 0 0 50%;

                &:nth-child(2n) {
                    padding-left: remCalc(10px);
                }

                &:nth-child(2n-1) {
                    padding-right: remCalc(10px);
                }
            }
        }

        .productView-details {
            width: 33%;
            padding: 0;
            padding-left: remCalc(50px);
        }

        .productView-product {

            .productView-title {
                font-size: 36px;
            }

            .productView-price {
                font-size: 18px;
            }
        }
    }
}
