<div class="product_card" data-product-id="{{product.id}}">
    <div class="product_main_image">
        <a href="{{product.url}}">
            
        </a>
    </div>
    
    <p class="product_title">{{product.title}}</p>

    <p class="product_option_label"></p>

    <div class="product_price">
        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            {{> components/products/price price=product.price}}
        {{else}}
            {{> components/common/login-for-pricing}}
        {{/or}}
    </div>

    <div class="product_thumbnail_area">
        <button type="button" class="product_thumbnail_button prev"></button>

            {{#if product.options.length}}
                {{#each product.options}}
                    {{#and (if (lowercase display_name) '===' 'color') (if values.length)}}
                        <div class="product_thumbnail_viewport" data-length="{{values.length}}">
                            <div class="product_thumbnails">
                                {{#each values}}
                                    <button type="button" class="product_thumbnail_button {{#if @first}}now{{/if}}">
                                        {{> components/common/responsive-img
                                            image=image
                                            class="product_thumbnail"
                                            fallback_size=theme_settings.page_builder_product_card_thumbnail_size
                                            lazyload=theme_settings.lazyload_mode
                                            default_image=theme_settings.default_image_product
                                        }}
                                    </button>
                                {{/each}}
                            </div>
                        </div>
                    {{/and}}
                {{/each}}
            {{/if}}
        
        <button type="button" class="product_thumbnail_button next"></button>
    </div>

    <form class="u-hiddenVisually" id="form{{product.id}}"></form>

</div>